@import "tailwindcss";

@font-face {
	font-family: "TikTokSans";
	src: url("/fonts/TikTokSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "TikTokSans";
	src: url("/fonts/TikTokSans-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "TikTokSans";
	src: url("/fonts/TikTokSans-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}

@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Outfit";
	src: url("/fonts/Outfit-Medium.ttf") format("truetype");
	font-weight: 500;
}

body {
	font-family: "Outfit", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "TikTokSans", sans-serif;
}

button {
	font-family: "TikTokSans", sans-serif;
}