@page "/not-found"
@layout MainLayout

<PageTitle>404</PageTitle>

<div class="flex min-h-screen items-center justify-center">
	<h3 class="text-5xl font-extrabold">404</h3>
	<p class="font-medium text-gray-500">Ocorreu um erro ao buscar por este recurso!</p>
</div>